html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  background: linear-gradient(to right, #00b4db, #0083b0);
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem #00000025 inset;
}


a {
  color: rgb(97, 252, 59);
}

a:active {
  color: rgb(7, 255, 255);
}

a:visited {
  color: rgb(7, 255, 255);
}

/* button {
  background-color: #0fb0e6;
  color: #3230bb;
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  line-height: 1;
  padding: 1em 1.5em;
  position: relative;
  transition: filter var(--motion-duration);
  border: 1px solid #28269c;
  border-radius: 15px;
} */

.active {
  font-weight: bold;
  color: green;
}

.grid-responsive {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 300px));
  gap: 1rem;
  justify-content: center;
}


hr {
  margin: 2rem auto;
}

h1,
h2 {
  text-align: center;
}

.jokeImg {
  position: absolute;
  height: 400px;
  top: 15%;
  right: 20%;
}

.jokeImg2 {
  position: absolute;
  height: 400px;
  top: 15%;
  left: 10%;
}

.keys {
  display: block;
  margin: auto;
  user-select: none;
}

.key__button {
  box-sizing: border-box;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  width: 50px;
  color: #3230bb;
  cursor: pointer;
  margin: 0 8px;
  height: 50px;
  border-color: #f2f2f2;
  border-style: solid;
  text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
  border-width: 1px;
  border-radius: 10px;
  background: -webkit-linear-gradient(
    top,
    #f9f9f9 0%,
    #d2d2d2 80%,
    #c0c0c0 100%
    );
    font-family: sans-serif;
    display: inline-block;
    transition: box-shadow 0.3s ease, transform 0.15s ease;
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
    0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25),
    -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);
  }
  .key__button:hover,
  .key__button:focus {
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
    0 2px 35px rgba(#444, 0.3), 2px 2px 4px rgba(#444, 0.25),
    -2px 2px 4px rgba(#444, 0.25), 0 7px 4px rgba(#444, 0.1);
    transform: translateY(2px);
  }
  
  .key__button:active {
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
    0 0px 30px rgba(#444, 0.15), 2px 2px 4px rgba(#444, 0.25),
    -2px 2px 4px rgba(#444, 0.25), 0 0px 4px rgba(#444, 0.25);
    transform: translateY(4px);
  }
  
  .key-counter {
    font-size: 20px;
    color: #0400ff;
  }
  
  .key-title {
    font-size: 25px;
  }
  
  li {
    margin-bottom: 1rem;
  }

  .productImg {
    height: 50px;
  }

  /* card product test */

  .card {
    position: relative;
    width: 320px;
    height: 480px;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #ffce00;
    transform: skewY(345deg);
    transition: 0.5s;
  }
  
  .card:hover::before {
    top: -70%;
    transform: skewY(390deg);
  }
  
  .card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
  }
  
  .card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
  }
  /*
  .card .imgBox img {
      max-width: 100%;
      
      transition: .5s;
  }
  
  .card:hover .imgBox img {
      max-width: 50%;
        
  }
  */
  .card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
  
  .card .contentBox h3 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .card .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: #ffce00;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
  }
  
  .card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
  }
  
  .img {
    height: 200px;
    width: auto;
  }

  .shopping {
    background: #212121;
    border-radius: 25px;
  }